@page
@model MyEshop.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Index";

}

<h1>Products list</h1>
<hr />
<p>
    <a asp-page="Add" class="myButton">Add Products</a>
</p>
<table>

    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>accessibility</th>

        </tr>
    </thead>
    <tbody>
        @foreach ( var item in Model.Products)
        {
            <tr>
                <td>
                    <img src="/images/@(item.Id).jpg" style="max-width : 200px; border : 1px solid gray; padding : 3px;" />
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Item.Price
                </td>
                <td>
                    <a asp-page="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-page="Delete" asp-route-id="@item.Id">Delete</a>

                </td>

            </tr>
        }
    </tbody>
</table>
